<p id="notice"><%= notice %></p>
<h5>ObjectID:</h5><p><%= @user.objectId %></p>
<h5>UserName: </h5><p><%= @user.username %></p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
